*.pyc
*.swp
.idea*
*.DS_Store
regtests*
redhat
rpkm_c
*.o
binaries/*/*
*.pyc
*.swp
.idea*
*.DS_Store
*.o



regtests/output/*
regtests/input/beaver.fasta
regtests/input/reads/beaver*
Metapathways_DBs_2016-04.tar.xz
MetaPathways_DBs
regtests/output/B1*
config/template_config.txt
config/template_param.txt
regtests/template_config.txt
regtests/template_param.txt

dist/*
src/MetaPathways.egg-info/*

build/*
docs/_build/*
docs/_templates/*
docs/_static/*
docs/_build/*/*
docs/_templates/*/*
docs/_static/*/*
