*.sif
*.pyc
*.swp
.idea*
*.DS_Store
regtests*
redhat
rpkm_c
*.o
binaries/*/*
*.pyc
*.swp
.idea*
*.DS_Store
*.o
.snakemake
.tox
coverage.xml
pathologic.log
*.sif
\#*
*pathway-tools-*-install

executables-DELETE-ME
test
extensions/FAST/fastal
extensions/FAST/fastdb
extensions/metacount/metacount
extensions/trnascan/trnascan-1.4
extensions/FAST/src/*.o
extensions/FAST/gumbel_params/*
extensions/metacount/parser/libbamparser.a
MetaPathways.egg-info
.snakemake

regtests/output/*
regtests/input/beaver.fasta
regtests/input/reads/beaver*
Metapathways_DBs_2016-04.tar.xz
MetaPathways_DBs
regtests/output/B1*
config/template_config.txt
config/template_param.txt
regtests/template_config.txt
regtests/template_param.txt

dist
docker/dist
src/MetaPathways.egg-info/*
MetaPathways.egg-info

build
docs/_build/*
docs/_templates/*
docs/_static/*
docs/_build/*/*
docs/_templates/*/*
docs/_static/*/*
*~

workflows/.snakemake
workflows/logs
workflows/SRA_download
workflows/SRA_fastq
workflows/SRA_gz
