include docs/*
include README.md
include Makefile
include metapathways/build_DBs/*
include metapathways/resources/*
include metapathways/tests/*
include metapathways/tests/data/*
include metapathways/tests/data/ref_data/*
include metapathways/tests/data/ref_data/functional_categories/*
include metapathways/tests/data/ref_data/ncbi_tree/*
include metapathways/bin/fastal
include metapathways/bin/fastdb
include metapathways/bin/metacount
