recursive-include docs *.rst *.py *.txt *.yml *.png
include README.md
include Makefile
include metapathways/build_DBs/*
recursive-include metapathways/regtests *
include metapathways/resources/*
include metapathways/bin/fastal
include metapathways/bin/fastdb
include metapathways/bin/metacount

include docs/releasing.md
recursive-include scripts *.py
recursive-include conda_recipe *.py *.yaml
include docker/conda_base.yml
recursive-include tests/release *.py
include docker/Dockerfile.release
include docker/README.quay.md
